body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 27px;
    font-size: 24px;
    /* max-width: 1480px; */
  
    
}
.logo{
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo_color{
    color:rgb(13, 184, 175);
}
.logo_link{
    text-decoration: none;
    color: black;
}

.container_logo{
    padding-top: 50px;
    margin: auto;
    max-width: 1280px;
}

/* .logo{
    
    margin: 61 0 0 210;
    width: 334px;
    height: 79px;
} */

.menu{
    /* padding-left: 70px; */
    
    margin-top: 60px;
    max-width: 1285px;
    margin-left: auto;
    margin-right: auto;
    background-color: #35444F;
    color: white;
    display: flex;
    justify-content: center;
  
}

.menu_list{
    
    width: 1283px;
    height: 73px;
    display: flex;
    justify-content: center;
}


.menu_items {
    border: 1px solid white;
    padding-top:25px;
}

.menu_items:hover{
    background-color: #222F3A;
}


.item_name{
   
    padding: 26px 32px 19px 32px;
    padding-top: 5px;
    text-decoration: none;
    color: #FFFFFF;
}

.last{
    border-right:transparent;    /*ask later*/
}

/* 
ul:first-child{
   padding-left: 150px;
} */


.left_list{
    
    border:1px solid black;
    display: inline-block;
}


.left_item{
    padding: 26px 82px 26px 42px;
   
}

.left_item > a{
    text-decoration: none;
    color: #495863;
}

.left_item:hover{
    
    background-color: #DBDBDB;
}
.left_item > a:hover{
    color: black;
    font-weight:normal;
    padding-left: 10px;
    
}

.left_menu{
    /* margin-left: 65px; */
    margin-right: 80px;
}

 .left_list > a{
    text-decoration: none;
    font-size: 27px;
    color: #495863;
}

.container_img{
   
    padding: 75 268 73 297;
    border: 1px solid black;
    /* margin-left: 5px; */
}
.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.lor{
    font-size: 18px;
    color: #2C2C2C;
    width: 887px;

}

.last_article1{
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 115px;
}

.last_article2{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 115px;
}

.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    max-width: 1285px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7d7d7e;
}

.footer_menu_list{
    display: flex;
    justify-content: space-around;
    padding: 13 17 20 19;
    
}


.footer_item>a{          /*  !  */
    color: #010101;
    padding: 5 3 3 5;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    border: 1px solid transparent;
}

.copyright{
    font-size: 24px;
    line-height: 24px;
    padding-left: 45px;
    
}

.hov:hover{
    border-bottom:3px solid rgb(176, 176, 253);
    color: rgb(176, 176, 253);
    padding-bottom: 9px;
    
}



/* .footer_item>a:hover{
    /* text-decoration: underline; */
    /* border-bottom:3px solid blue; */
    /* color: blue; */
    /* padding-bottom: 9px; */
    
/* }  */